# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [4]:
# your code here
series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
# your code here
third_value = series[2]
print(third_value)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
# your code here
df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [10]:
# your code here
b_names = ["score_1", "score_2", "score_3", "score_4", "score_5"]
df = pd.DataFrame(b, columns=b_names)
print(df)

   score_1  score_2  score_3  score_4  score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [11]:
# your code here
subset_df = df[['score_1', 'score_3', 'score_5']]
print(subset_df)

   score_1  score_3  score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [13]:
# your code here
average_score3 = df['score_3'].mean()
print("Average score_3:", average_score3)

Average score_3: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [14]:
# your code here
max_score4 = df['score_4'].max()
print("Maximum score_4:", max_score4)

Maximum score_4: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [15]:
# your code here
median_score2 = df['score_2'].median()
print("Median score_2:", median_score2)

Median score_2: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [16]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [17]:
# your code here
df_orders = pd.DataFrame(orders)
print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [18]:
# your code here
total_quantity = df_orders['Quantity'].sum()
total_revenue = df_orders['Revenue'].sum()

print("Total quantity ordered:", total_quantity)
print("Total revenue generated:", total_revenue)

Total quantity ordered: 2978
Total revenue generated: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [19]:
# your code here
max_price = df_orders['UnitPrice'].max()
min_price = df_orders['UnitPrice'].min()
price_difference = max_price - min_price

print("Most expensive item price:", max_price)
print("Least expensive item price:", min_price)
print("Difference:", price_difference)

Most expensive item price: 11.95
Least expensive item price: 0.18
Difference: 11.77

## Let's load another dataset for more exercisesº

In [20]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [21]:
# your code here
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [22]:
# your code here
missing_data = admissions.isnull().sum()
print("Missing values in each column:")
print(missing_data)

Missing values in each column:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [29]:
# your code here
admissions.set_index("Serial No.", drop=False, inplace=True)

# Display the first 5 rows to verify
display(admissions)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [24]:
# your code here
# Total number of rows in the dataset
total_rows = len(admissions)

# Number of unique combinations of GRE Score and CGPA
unique_combinations = admissions[['GRE Score', 'CGPA']].drop_duplicates().shape[0]

# Check if they uniquely identify each row
is_unique = unique_combinations == total_rows

print("Total rows:", total_rows)
print("Unique GRE + CGPA combinations:", unique_combinations)
print("Do GRE Score and CGPA uniquely identify each row?", is_unique)

Total rows: 385
Unique GRE + CGPA combinations: 385
Do GRE Score and CGPA uniquely identify each row? True

In [33]:
#other way just testing if GRE Score and CGPA has duplicated values
duplicates_gre = admissions['GRE Score'].duplicated()
print("Duplicates in GRE Score column:")
print(duplicates_gre)

# Check duplicates in CGPA
duplicates_cgpa = admissions['CGPA'].duplicated()
print("\nDuplicates in CGPA column:")
print(duplicates_cgpa)

Duplicates in GRE Score column:
Serial No.
1      False
2      False
3      False
4      False
5      False
       ...
381     True
382     True
383     True
384     True
385     True
Name: GRE Score, Length: 385, dtype: bool

Duplicates in CGPA column:
Serial No.
1      False
2      False
3      False
4      False
5      False
       ...
381     True
382     True
383     True
384     True
385     True
Name: CGPA, Length: 385, dtype: bool

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [34]:
# your code here
# Filter rows where CGPA > 9 and Research == 1
high_cgpa_research = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

# Count the number of rows that satisfy this condition
num_students = high_cgpa_research.shape[0]

print("Number of students with CGPA > 9 and performed research:", num_students)

Number of students with CGPA > 9 and performed research: 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [36]:
# your code here
# Strip any leading/trailing spaces from column names
admissions.columns = admissions.columns.str.strip()

# Filter rows where CGPA > 9 and SOP < 3.5
filtered_applicants = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Display the filtered rows
print(filtered_applicants)

# Calculate the mean Chance of Admit for these applicants
mean_admit_chance = filtered_applicants['Chance of Admit'].mean()

print("\nMean Chance of Admit for these applicants:", mean_admit_chance)

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  \
Serial No.
29                  29        338          118                  4  3.0  4.5
63                  63        327          114                  3  3.0  3.0
141                141        326          114                  3  3.0  3.0
218                218        324          111                  4  3.0  3.0
382                382        325          107                  3  3.0  3.5

            CGPA  Research  Chance of Admit
Serial No.
29          9.40         1             0.91
63          9.02         0             0.61
141         9.11         1             0.83
218         9.01         1             0.82
382         9.11         1             0.84

Mean Chance of Admit for these applicants: 0.8019999999999999

In [37]:
#or this way
# Filter and calculate mean Chance of Admit in one line using query
mean_admit_chance = admissions.query('CGPA > 9 and SOP < 3.5')['Chance of Admit'].mean()

print("Mean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5:", mean_admit_chance)

Mean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5: 0.8019999999999999